.gameboard {
  height:100vh;
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
}

.gameboard-half {
  height: 50%;
  position: relative;
}

@media (max-width: 1000px) {
  .start-game-instructions {
    font-size: 0.65rem;
  }
}

@media (max-width: 750px) {
  .modal-heading, h3 {
    font-size: 1rem;
  }
}

