.opponent-side {
  height:50%;
  background:red;
}

.opponent-hand {
  height: 80%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.opponent-card {
  margin: 1rem;
  width: 12%;
  height: 80%;
  background: pink;
  -webkit-box-shadow: 1px -1px 0px 17px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px -1px 0px 17px rgba(0,0,0,0.75);
  box-shadow: 1px -1px 0px 17px rgba(0,0,0,0.75);
  transition: .2s all;
}

.opponent-stats ul {
  display: flex;
  justify-content: space-between;
}

.opponent-life-points, .opponent-atk-display {
  padding: 1rem 2rem;
  background: lightcyan;
}