.opponent-side {
  height:50%;
  // background:red;
}

.opponent-hand {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
}

.opponent-card {
  margin: 1rem;
  width: 12%;
  height: 80%;
  background:rgba(0,0,0,.75);
  -webkit-box-shadow: 1px -1px 0px 17px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px -1px 0px 17px rgba(0,0,0,0.75);
  box-shadow: 1px -1px 0px 17px rgba(0,0,0,0.75);
  transition: .2s all;
}

.opponent-transition-delay {
  transition: .2s all 2s;
  -webkit-transition: .2s all 2s;
  -moz-transition: .2s all 2s;
}


.opponent-stats ul {
  display: flex;
  justify-content: space-between;
}

.opponent-atk-display-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.opponent-life-points, .opponent-atk-display {
  margin: 0;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  width: 10rem;
  height: 3.6rem;
  text-align: center;
  color:yellow;
  text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
  background-image: linear-gradient(to right,blue,white, purple);
  border:2px solid black;
}

.opponent-life-points-label {
  position: absolute;
  color: white;
}

.opponent-atk-display-label {
  position: absolute;
  top: 4rem;
  right: 0;
  color: white;
}