.player-side {
  height:50%;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
}

.player-hand {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.player-card {
  margin: 1rem;
  width: 12%;
  height: 80%;
  background:rgba(0,0,0,.75);
  -webkit-box-shadow: 1px -1px 0px 17px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px -1px 0px 17px rgba(0,0,0,0.75);
  box-shadow: 1px -1px 0px 17px rgba(0,0,0,0.75);
  transition: .2s all;
}

.player-transition-delay {
  transition: .2s all 4s;
  -webkit-transition: .2s all 4s;
  -moz-transition: .2s all 4s;
}

.player-stats ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: flex-end;
  
}

.player-atk-button {
  margin-right:.5rem;
}
.player-life-points, .player-atk-display {
  padding: 1rem 2rem;
  align-self: stretch;
  font-size: 1.5rem;
  width: 10rem;
  text-align: center;
  color:yellow;
  text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
  background-image: linear-gradient(to right,blue,white, purple);
  border:2px solid black;
}
//https://wpshout.com/quick-guides/create-text-outline-css/
//https://codepen.io/chriscoyier/pen/niIjA