.player-side {
  height:50%;
  // background:blue;
}

.player-hand {
  height: 80%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.player-card {
  margin: 1rem;
  width: 12%;
  height: 80%;
  background: pink;
  -webkit-box-shadow: 1px -1px 0px 17px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px -1px 0px 17px rgba(0,0,0,0.75);
  box-shadow: 1px -1px 0px 17px rgba(0,0,0,0.75);
  transition: .2s all;
}

.player-transition-delay {
  transition: .2s all 4s;
  -webkit-transition: .2s all 4s;
  -moz-transition: .2s all 4s;
}

.player-stats ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player-life-points, .player-atk-display {
  padding: 1rem 2rem;
  background: lightcyan;
  align-self: stretch;
  font-size: 1.5rem;
  width: 10rem;
  text-align: center;
}