.start-game {
  display:flex;
  z-index:100;
}

.start-game-instructions {
  text-align: left;
}

.start-game-body {
  width:80%;
}

.start-game-instructions li {
  margin-bottom:1rem;
}

@media (max-width: 1000px) {
  .start-game-instructions {
    font-size: 0.65rem;
    margin-bottom:.5rem;
  }
}

@media (max-width:750px){
  
}
