.modal-background {
  height:100vh;
  width:100vw;
  background: rgba(0,0,0,.4);
  position:absolute;
  top:0;
  left: 0;
  right:0;
}

.modal-body {
  margin: auto;
  padding: 2rem;
  border: 10px solid $color-black;
  border-radius: 10px;
  z-index: 5;
  position: relative;
  text-align: center;
  background-color: $color-blue;
}

.modal-heading{
  margin: 0;  
}

.modal-button {
  margin: 0 auto;
}

@media (max-width: 750px) {
  .start-game-instruct-heading, .modal-heading{
    font-size:.8rem;
  }

  .modal-heading {  
    text-transform: uppercase;
  }

  .modal-body {
    padding: 1rem;
    border: none;
  }
}



