html {
  font-size: 125%;
}

body {
  background: url(../assets/H3iy16W.jpg);
  background-size: cover;
  font-family: 'Press Start 2P', cursive;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}