.highlight {
  z-index: 2;
  border: 3px solid red;
  transform: scale(1.3);
  animation-delay: 5s;
}

.opponent-transition-delay {
  transition-delay: 5s;
}

.player-transition-delay {
  transition-delay: 10s;
}