.highlight {
  z-index: 2;
  border: 3px solid red;
  transform: scale(2);
}

button {
    display: block;
    padding: 1rem;
    align-self: stretch;
    z-index:10;
    position:relative;
    border-radius:10px;
    background: darkblue;
    color:white;
    transform: translateY(-0.25rem) scale(1);
    cursor: pointer;
    
  &:disabled {
    background: darkgrey;
    color: grey;
  }

  &:hover, &:focus {
    transform: translateY(-0.25rem) scale(1.05);
  }
}

// @media (max-width: 1000px) {
//   .highlight {
//     transform: scale(2);
//   }
// }