.highlight {
  z-index: 2;
  border: 3px solid red;
  transform: scale(1.3);
}

button {
    display: block;
    padding: 1rem;
    align-self: stretch;
  &:disabled {
    background: darkgrey;
    color: white;
  }
}