html {
  font-size: 125%; }

body {
  background: url(../assets/H3iy16W.jpg);
  background-size: cover;
  font-family: 'Press Start 2P', cursive; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.highlight {
  z-index: 2;
  border: 3px solid red;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5); }

button {
  display: block;
  padding: 1rem;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  z-index: 10;
  position: relative;
  border-radius: 10px;
  background: darkblue;
  color: white;
  -webkit-transform: translateY(-0.25rem) scale(1);
  -ms-transform: translateY(-0.25rem) scale(1);
  transform: translateY(-0.25rem) scale(1);
  cursor: pointer; }
  button:disabled {
    background: darkgrey;
    color: grey; }
  button:hover, button:focus {
    -webkit-transform: translateY(-0.25rem) scale(1.05);
    -ms-transform: translateY(-0.25rem) scale(1.05);
    transform: translateY(-0.25rem) scale(1.05); }

.card {
  margin: 1rem;
  width: 8rem;
  height: 12rem;
  background: rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px -1px 0px 17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -1px 0px 17px rgba(0, 0, 0, 0.75);
  box-shadow: 1px -1px 0px 17px rgba(0, 0, 0, 0.75);
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
  cursor: url(http://i258.photobucket.com/albums/hh263/Manah-Angel-Eyes/Tumblr%20Blog%20images/yugicursor.png~original), auto; }
  .card:focus {
    border: 3px solid red;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); }

.life-points, .atk-points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  width: 10rem;
  height: 3.6rem;
  text-align: center;
  color: yellow;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background-image: -webkit-gradient(linear, left top, right top, from(blue), color-stop(white), to(purple));
  background-image: -webkit-linear-gradient(left, blue, white, purple);
  background-image: -o-linear-gradient(left, blue, white, purple);
  background-image: linear-gradient(to right, blue, white, purple);
  border: 2px solid black; }

.card:focus {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  z-index: 0; }

@media (max-width: 1000px) {
  .highlight {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); }
  .card:focus {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); }
  .card {
    width: 6.5rem;
    height: 10rem; } }

@media (max-width: 800px) {
  .card {
    width: 5rem;
    height: 7rem; } }

@media (max-width: 700px) {
  .card {
    position: absolute;
    margin-left: 2rem; }
  .opponent-card {
    top: 5rem; }
    .opponent-card:nth-child(1) {
      left: calc(40% - 4rem); }
    .opponent-card:nth-child(2) {
      left: calc(45% - 4rem); }
    .opponent-card:nth-child(3) {
      left: calc(50% - 4rem); }
    .opponent-card:nth-child(4) {
      left: calc(55% - 4rem); }
    .opponent-card:nth-child(5) {
      left: calc(60% - 4rem); }
  .player-card {
    top: 20%; }
    .player-card:nth-child(1) {
      left: calc(40% - 4rem); }
    .player-card:nth-child(2) {
      left: calc(45% - 4rem); }
    .player-card:nth-child(3) {
      left: calc(50% - 4rem); }
    .player-card:nth-child(4) {
      left: calc(55% - 4rem); }
    .player-card:nth-child(5) {
      left: calc(60% - 4rem); } }

@media (max-width: 500px) {
  button, .opponent-life-points-label, .opponent-atk-display-label, .player-life-points-label, .player-atk-display-label {
    font-size: 0.7rem;
    margin: 0; }
  button {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    font-size: .7rem; }
  .life-points, .atk-points {
    font-size: 1rem;
    width: 6rem;
    height: 3rem;
    text-align: center; }
  .card {
    width: 5rem;
    height: 7rem; } }

@media (max-width: 400px) {
  .highlight {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3); }
  .card:focus {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3); } }

@-webkit-keyframes prevCard {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0; }
  20% {
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
    opacity: 0.10; }
  40% {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    opacity: 0.20; }
  60% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 0.40; }
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    opacity: 0.80; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes prevCard {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0; }
  20% {
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
    opacity: 0.10; }
  40% {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    opacity: 0.20; }
  60% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 0.40; }
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    opacity: 0.80; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes nextCard {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  20% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 0.80; }
  40% {
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
    opacity: 0.40; }
  60% {
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
    opacity: 0.20; }
  80% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0.10; }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0; } }

@keyframes nextCard {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  20% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 0.80; }
  40% {
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
    opacity: 0.40; }
  60% {
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
    opacity: 0.20; }
  80% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0.10; }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0; } }

@-webkit-keyframes scaleCard {
  0% {
    top: 5px; }
  100% {
    top: 24px; } }

@keyframes scaleCard {
  0% {
    top: 5px; }
  100% {
    top: 24px; } }

@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(40px);
    transform: translateX(40px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(40px);
    transform: translateX(40px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-40px);
    transform: translateX(-40px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-40px);
    transform: translateX(-40px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

.gameboard {
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
  width: 100%; }

.gameboard-half {
  height: 50%;
  position: relative; }

.player-side {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative; }

.player-hand {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: center;
  align-self: center; }

.player-transition-delay {
  -o-transition: .2s all 4s;
  transition: .2s all 4s;
  -webkit-transition: .2s all 4s;
  -moz-transition: .2s all 4s; }

.player-stats ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-item-align: end;
  align-self: flex-end; }

.player-atk-button {
  margin-right: .5rem; }

.player-life-points-label {
  position: absolute;
  bottom: 4rem;
  color: white; }

.player-atk-display-label {
  position: absolute;
  right: 0;
  bottom: 4rem;
  color: white; }

.player-side .buttons.next {
  display: none; }

.player-side .buttons.prev {
  display: none; }

@media (max-width: 700px) {
  .player-side .buttons {
    z-index: 10;
    position: absolute;
    top: 60%;
    text-decoration: none;
    color: white; }
  .player-side .buttons.prev {
    position: absolute;
    left: 40%;
    display: block;
    -webkit-animation: bounceInLeft 300ms;
    animation: bounceInLeft 300ms; }
    .player-side .buttons.prev::after {
      content: '<';
      border-radius: 30%;
      padding: 0.3rem;
      background: rgba(0, 0, 0, 0.5);
      border: 1px solid white; }
  .player-side .buttons.next {
    position: absolute;
    right: 30%;
    display: block;
    -webkit-animation: bounceInRight 300ms;
    animation: bounceInRight 300ms; }
    .player-side .buttons.next::after {
      content: '>';
      border-radius: 30%;
      padding: 0.3rem;
      background: rgba(0, 0, 0, 0.5);
      border: 1px solid white; }
  .transformThis {
    -webkit-animation: nextCard 500ms;
    animation: nextCard 500ms; }
  .transformPrev {
    -webkit-animation: prevCard 100ms;
    animation: prevCard 100ms;
    display: none; } }

@media (max-width: 800px) {
  .gameboard {
    position: relative; }
  .player-button-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .player-atk-button {
    margin-right: 0; }
  .player-side .buttons {
    top: 30%; } }

@media (max-width: 350px) {
  .player-card {
    top: 10%; } }

.opponent-hand {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.opponent-transition-delay {
  -o-transition: .2s all 2s;
  transition: .2s all 2s;
  -webkit-transition: .2s all 2s;
  -moz-transition: .2s all 2s; }

.opponent-stats ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.opponent-atk-display-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.opponent-life-points-label {
  top: 3.6rem;
  position: absolute;
  color: white; }

.opponent-atk-display-label {
  position: absolute;
  top: 3.6rem;
  right: 0;
  color: white; }

.opponent-side .buttons.next {
  display: none; }

.opponent-side .buttons.prev {
  display: none; }

@media (max-width: 700px) {
  .opponent-side .buttons {
    z-index: 10;
    position: absolute;
    top: 65%;
    text-decoration: none;
    color: white; }
  .opponent-side .buttons.prev {
    left: 40%;
    display: block;
    -webkit-animation: bounceInLeft 300ms;
    animation: bounceInLeft 300ms; }
    .opponent-side .buttons.prev::after {
      content: '<';
      border-radius: 30%;
      padding: 0.3rem;
      background: rgba(0, 0, 0, 0.5);
      border: 1px solid white; }
  .opponent-side .buttons.next {
    right: 30%;
    display: block;
    -webkit-animation: bounceInRight 300ms;
    animation: bounceInRight 300ms; }
    .opponent-side .buttons.next::after {
      content: '>';
      border-radius: 30%;
      padding: 0.3rem;
      background: rgba(0, 0, 0, 0.5);
      border: 1px solid white; }
  .transformThis {
    -webkit-animation: nextCard 500ms;
    animation: nextCard 500ms; }
  .transformPrev {
    -webkit-animation: prevCard 100ms;
    animation: prevCard 100ms;
    display: none; } }

.modal-background {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.4);
  position: absolute; }

.modal-body {
  z-index: 5;
  position: relative;
  margin: auto;
  padding: 2rem;
  text-align: center;
  border: 10px solid black;
  border-radius: 10px;
  background-color: blue;
  color: white; }

.modal-heading {
  margin: 0; }

.modal-button {
  margin: 0 auto; }

@media (max-width: 750px) {
  .modal-heading, h3 {
    font-size: .8rem; }
  .modal-heading {
    font-size: .8rem;
    text-transform: uppercase; }
  .modal-body {
    padding: 1rem;
    width: 100vw;
    height: 100vh; } }

.game-over-background {
  display: none; }

.game-over-body {
  width: 50%; }

@media (max-width: 750px) {
  .modal-body {
    padding: 1rem;
    width: 100vw;
    height: 100vh; } }

.start-game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100; }

.start-game-instructions {
  text-align: left; }

.start-game-body {
  width: 80%; }

.start-game-instructions li {
  margin-bottom: 1rem; }

@media (max-width: 1000px) {
  .start-game-instructions {
    font-size: 0.65rem;
    margin-bottom: .5rem; } }
